<div class='container-modal'>
  <div class='modal-window'>
    <button type='button' class='btn-close'>
      <svg
        width='30'
        height='30'
        viewBox='0 0 30 30'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path d='M8 8L22 22' stroke='black' stroke-width='2'></path>
        <path d='M8 22L22 8' stroke='black' stroke-width='2'></path>
      </svg>
    </button>

    <div class='table-div'></div>
    <div class='img-modal'>
      {{#if this.posterUrl}}
        <img src='{{this.posterUrl}}' alt='film poster' />
      {{else}}
        <img src='{{this.noImage}}' alt='#' />
      {{/if}}

      <button
        type='button'
        class='js-trailer-btn btn-add'
        data-id='{{this.id}}'
        data-type='trailer'
      >
        <svg
          width='60px'
          hight='60px'
          viewBox='0 0 100 100'
          xml:space='preserve'
          xmlns='http://www.w3.org/2000/svg'
          xmlns:xlink='http://www.w3.org/1999/xlink'
        ><g id='Layer_4_copy'><path
              d='M31.356,25.677l38.625,22.3c1.557,0.899,1.557,3.147,0,4.046l-38.625,22.3c-1.557,0.899-3.504-0.225-3.504-2.023V27.7   C27.852,25.902,29.798,24.778,31.356,25.677z'
            ></path><path
              d='M69.981,47.977l-38.625-22.3c-0.233-0.134-0.474-0.21-0.716-0.259l37.341,21.559c1.557,0.899,1.557,3.147,0,4.046   l-38.625,22.3c-0.349,0.201-0.716,0.288-1.078,0.301c0.656,0.938,1.961,1.343,3.078,0.699l38.625-22.3   C71.538,51.124,71.538,48.876,69.981,47.977z'
            ></path><path
              d='M31.356,25.677l38.625,22.3c1.557,0.899,1.557,3.147,0,4.046   l-38.625,22.3c-1.557,0.899-3.504-0.225-3.504-2.023V27.7C27.852,25.902,29.798,24.778,31.356,25.677z'
              style='fill:#FF6B08;stroke:black;stroke-miterlimit:20;'
            ></path></g></svg>
      </button>
    </div>

    <div class='modal-description'>
      <h2 class='modal-title modal__item-position'>{{this.title}}</h2>
      <table class='modal__item-position'>
        <tr>
          <th class='info-table-th'>Vote/ Votes</th>
          <td>
            <span class='info-span-avarage'>{{this.vote_average}}</span>
            <span>/ </span>
            <span class='info-span-all'>{{this.vote_count}}</span>
          </td>
        </tr>
        <tr>
          <th class='info-table-th'>Popularity</th>
          <td>{{this.popularity}}</td>
        </tr>
        <tr>
          <th class='info-table-th'>Original Title</th>
          <td>
            <span class='info-span-original-title'>{{this.original_title}}</span>
          </td>
        </tr>
        <tr>
          <th class='info-table-th'>
            Genres
          </th>
          <td>
            <span class='info-span-genre'>
              {{#if this.genres}}
                {{this.genres}}
              {{/if}}</span>
          </td>
        </tr>
      </table>

      <div class='description'>
        <h3 class='about-title'>About</h3>
        <p class='about-description'>
          {{this.overview}}
        </p>
      </div>
      <div class='btn-modal'>
        <button
          type='button'
          class='js-watch-btn btn-add'
          data-id='{{this.id}}'
          data-type='watched'
        ></button>
        <button
          type='button'
          class='js-queue-btn btn-add'
          data-id='{{this.id}}'
          data-type='queue'
        ></button>
        {{!-- <button
          type='button'
          class='js-trailer-btn btn-add'
          data-id='{{this.id}}'
          data-type='trailer'
        >Trailer</button> --}}
      </div>
    </div>
  </div>
</div>